_target_: src.vae_module.decoders.transformer.TransformerDecoder

atom_type_predict: ${vae_module.atom_type_predict}
max_num_elements: ${vae_module.encoder.max_num_elements}
d_model: 512
nhead: 8
dim_feedforward: 2048
activation: "gelu"
dropout: 0.0
norm_first: true
bias: true
num_layers: 8
index_embedding: ${vae_module.index_embedding.decoder}
